body{
	margin-top: 50px;
	font: 16px "Sans-Serif", Tahoma, Geneva, sans-serif;
	color: #404040;
}

.termMessage{
	display: none;
	color: red;
}
.typeMessage{
	display: none;
	color: red;
}

#positiveList > li{
	margin-top: 5px;
}

#negetiveList > li{
	margin-top: 5px;
}

.pSpan{
	cursor: pointer;
}

.something{
	cursor: pointer;
	margin-left: -2px;
}